*.exe
*.dll
*.vcxproj*
*.sln
*.pdb
*.exp
*.lib

baseq3/q3config.cfg
baseq3/q3key
baseq3/default.cfg
baseq3/*.pk3

premake/.vs/
premake/obj/

code/games/q3a/cgame/obj/
code/games/q3a/game/obj/
code/games/q3a/q3_ui/obj/

